In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
fname = './data/house-votes-84.csv'
df = pd.read_csv(fname)
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 17 columns):
republican    434 non-null object
n             434 non-null object
y             434 non-null object
n.1           434 non-null object
y.1           434 non-null object
y.2           434 non-null object
y.3           434 non-null object
n.2           434 non-null object
n.3           434 non-null object
n.4           434 non-null object
y.4           434 non-null object
?             434 non-null object
y.5           434 non-null object
y.6           434 non-null object
y.7           434 non-null object
n.5           434 non-null object
y.8           434 non-null object
dtypes: object(17)
memory usage: 57.8+ KB

,republican,n,y,n.1,y.1,y.2,y.3,n.2,n.3,n.4,y.4,?,y.5,y.6,y.7,n.5,y.8
count,434,434,434,434,434,434,434,434,434,434,434,434,434,434,434,434,434
unique,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
top,democrat,n,y,y,n,y,y,y,y,y,y,n,n,y,y,n,y
freq,267,235,194,253,247,211,271,239,242,207,215,264,233,208,247,232,268

In [5]:
print(df.keys())

Index(['republican', 'n', 'y', 'n.1', 'y.1', 'y.2', 'y.3', 'n.2', 'n.3', 'n.4',
       'y.4', '?', 'y.5', 'y.6', 'y.7', 'n.5', 'y.8'],
      dtype='object')